body {
    margin-top: 0px;
}

.inset-border {
    border: 3px inset;
}

.solid-border {
    border: 3px solid;
}

.d-info {
    display: flex;

    /* max-height: 250px; */
}

.d-inl {
   display: inline;
}

.d-flex {
    display: flex;
}

.flex-vertical {
    flex-direction: column;
}

.cook-info {
    display: flex;
    flex-direction: column;
}

.d2-info {
    padding-right: 10px;
    padding-bottom: 10px;
}

.info-div {
    padding-left: 20px;
}

.intro {
    padding-left: 5px;
}

li {
    padding-top: 10px;
}

.info-svg {
    width: 18px;
    vertical-align: text-bottom;
    padding-right: 5px;

    color: rgba(255, 255, 255, 1);
    fill: rgba(255, 255, 255, 1);
}

.d-block {
    display: block;
}

.recipe-instructions {
    display: flex;
    padding-top: 10px;
}

.ingredients {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 30%;
}

.method {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}

.link-styling {
    color: rgb(251, 157, 206);
    text-decoration-color: rgb(248, 14, 135);
    transition: color 0.25s;
}

.link-styling:hover {
    color: rgb(248, 14, 135);
}

.img-info {
    height: 100%;
    padding-right: 5px;
}

.opt {
    color: rgb(255, 48, 48);
}

.t-size-20 {
    font-size: 20px
}

.t-size-17 {
    font-size: 17px;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
}

.topbar {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navpills {
    text-align: center;
    display: flex;
}

.navpill {
    float: left;
    
    margin-bottom: 10px;
    margin-right: 10px;
	
	background-color: rgb(223, 7, 118);
	padding: 5px;
	
	text-decoration-color: rgb(223, 7, 118);
	color: white;
	
	transition: text-decoration-color 0.15s;
}

.navpill:hover {
	text-decoration-color: white;
}

@media only screen and (max-width: 1300px) {
    .d-info {
        display: block;
    }
    
    .img-info {
        height: 100%;
        max-height: 150px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-right: 5px;
    }
    
    .intro {
        padding-left: 5px;
        text-align: center;
    }
    
    .recipe-instructions {
        display: block;
    }
    
    .method {
        margin-left: 0px;
        margin-top: 10px;
    }
	
	.vp-center {
		margin: auto;
	}
    
    .navpill {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    
    .header-title {
        font-size: 6vw;
        text-align: center;
    }
}